/* General styles */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

.start-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .start-menu h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ffcc00;
  }

  .start-menu h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffcc00;
  }

  .intro-text {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .controls-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    color: #f0f0f0;
  }

  .controls-list li {
    line-height: 1.8;
  }

  .start-menu button {
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .start-menu button:hover {
    background-color: #ff9900;
  }

  .start-menu button:focus {
    outline: none;
  }

/* Crosshair styles */
.crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    display: none; /* Hidden by default */
    pointer-events: none; /* Ensure it doesn't block mouse events */
}

.crosshair::before,
.crosshair::after {
    content: '';
    position: absolute;
    background: red;
}

.crosshair::before {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.crosshair::after {
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
}